/*============VARIABLES=============*/
:root {
	/*box-shadow: offset-x|offset-y|blur-radius|color*/
	--light-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
	--mid-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
	--dark-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
	--darkest-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.7);
	--transition: all 0.4s linear;
	--transition-slow: all 2s linear;
	--letter-space-sml: 0.1rem;
	--letter-space-mid: 0.25rem;
	--letter-space-lrg: 0.5rem;
	/* grey / blue - used for headings */
	--clr-grey-blue-1: hsl(209, 61%, 16%);
	--clr-grey-blue-2: hsl(211, 39%, 23%);
	--clr-grey-blue-3: hsl(209, 34%, 30%);
	--clr-grey-blue-4: hsl(209, 28%, 39%);
	/* light grey used for paragraphs */
	--clr-light-grey-1: hsl(210, 22%, 49%);
	--clr-light-grey-2: hsl(209, 23%, 60%);
	--clr-light-grey-3: #9eb2c7;
	--clr-light-grey-4: hsl(210, 25%, 87%);
	/* dark shades of secondary color*/
	--clr-dark-blue-1: #063251;
	--clr-dark-blue-2: #104e7a;
	/* secondary/main color */
	--clr-blue-1: hsl(205, 72%, 37%);
	--clr-blue-2: hsl(205, 63%, 48%);
	--clr-blue-3: #49a6e9;
	--clr-blue-4: #4da1ab;
	--clr-blue-5: #3056df;
	/* gradient colors */
	--grad-blue-green: linear-gradient(to bottom right, #305170, #6dfc6b);
	--grad-green-blue: linear-gradient(to bottom right, #6dfc6b, #305170);
	--grad-blue-purple: linear-gradient(to bottom right, #063251, #70306a);
	--grad-grey-light: linear-gradient(to right bottom, rgba(#f7f7f7, 0.2), rgba(#eee, 0.2));
	/* other colors */
	--clr-white: #fff;
	--clr-black: #000;
	--clr-grey: #979b91;

	--clr-yellow: #ffcb05;
	--clr-yellow-dark: #c7a008;
	--clr-yellow-light: #ffdd64;
	--clr-orange: #ff8f00;
	--clr-pink: #fa709a;
	--clr-red-dark: #bb2525;
	--clr-red-light: #e66b6b;
	--clr-green-dark: #25bb32;
	--clr-green: #6df305;
	--clr-green-light: #6be675;

	/* pokemon types */
	--type-green: #99d98c;
	--type-dark-green: #76c893;

	--type-red: #ff4747;
	--type-dark-red: #c9030a;

	--type-blue: #1cadd9;
	--type-dark-blue-card: #1f8ec1;

	--type-yell: #ffd15c;
	--type-dark-yell: #fcc55f;

	--type-purple: #b379f6;
	--type-dark-purple: #9b15f4;

	--type-brown: #c38e6f;
	--type-dark-brown: #bd764c;

	--type-dark: #6c757d;
	--type-dark-dark: #495057;

	--type-gray: #dee2e6;
	--type-dark-gray: #adb5bd;

	--type-gold: #c4a36e;
	--type-dark-gold: #b89151;

	--gray-light-1: #f7f7f7;
	--gray-light-2: #eee;
}

/*======= FONTS =======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");

/*======= GLOBAL STYLES =======*/
/*ensures all the elements default padding and margin are removed*/
/*makes all pseudo-elements(::before,::after) inherit their parents box-sizing instead of always content-box */
*,/* * global selector for all elements in html file */
*::before,/* inserts something before the content has selected*/
*::after {
	/* inserts something after the content has selected*/
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
html {
	/*defines what 1rem is*/
	font-size: 62.5%; /*1rem=10px 10px/16px = 62.5%*/
	scroll-behavior: smooth;
}
body {
	box-sizing: border-box; /*padding is counted into the width/height of an element*/
	text-align: center;
	padding: 3rem;
	font-family: "Lato", sans-serif;
	background-image: linear-gradient(to right bottom, rgba(150, 150, 50, 0.6), rgba(247, 247, 247, 0.8)), url(./images/webb-dark.png);
	/*background-size: contain;*/
}
ul {
	list-style: none;
}

.App {
}
.primary-heading {
	font-family: "Miltonian Tattoo", cursive;
	font-size: 8rem;
	padding: 2rem;
	background-image: var(--grad-blue-purple); /*set background img to a linear gradient*/
	color: transparent; /*gets its color from the background*/
	/*clip background to only text-which is transparent*/
	-webkit-background-clip: text;
	background-clip: text;
}

/*===== PokemonEntry STYLES =====*/
.entry {
	height: 37rem;
	/*width: 30rem;*/ /*removed due to flex*/
	background-image: var(--grad-blue-green);
	transition: var(--transition);
	margin: 2rem;
	border-radius: 1rem;
	flex: 0 0 28%; /*flex-grow, flex-shrink, flex-basis:size */
}
.entry:hover {
	background-image: var(--grad-blue-purple);
	box-shadow: var(--darkest-shadow);
	cursor: pointer;
	transform: translateY(-0.75rem);
}
.entry:active,
.entry:focus {
	transform: translateY(-0.5rem);
	box-shadow: var(--mid-shadow);
}
.entry__title {
	color: var(--clr-white);
	font-size: 4rem;
	font-family: "Poppins", sans-serif;
	text-transform: capitalize;
}
.entry__img {
	height: 25rem;
	width: 25rem;
}

/*===== AllPokemon STYLES =====*/
.entries {
	display: flex; /*lines up cards in a row*/
	flex-wrap: wrap; /*makes it so that the row raps to the next line instead of going offscreen and causing scroll*/
	justify-content: space-around; /*adds the extra space around each flex item on all sides*/
	align-content: center;
	min-width: 90vh;
	margin-bottom: 8rem;
}
/*===== FOOTER STYLES =====*/
.footer {
	height: 10rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: linear-gradient(to bottom, var(--clr-blue-3), var(--clr-blue-5), var(--type-dark-blue-card));
	background-color: var(--clr-blue-2);
	box-shadow: 0 0.5rem 1rem rgba(14, 17, 17, 0.35);
}
.btn {
	height: 7rem;
	width: 7rem;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	background-image: linear-gradient(to top, var(--type-dark-red), var(--type-red), var(--clr-red-dark));
	background-color: #ff4747;
	color: #0e1111;
	transition: all 0.1s linear;
}
.btn__text {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(14, 17, 17, 0.6);
	cursor: pointer;
	background-image: linear-gradient(to bottom, var(--type-dark-red), var(--type-red));
	background-color: #c9030a;
	color: #ebebeb;
}
.btn:active,
.btn:focus {
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(14, 17, 17, 0.35);
}

/*===== Pokemon STYLES =====*/
.pokeEntry {
	background-color: var(--clr-white);
	border: 1rem solid var(--clr-yellow);
	border-radius: 3rem;
	padding: 5rem;
	height: 85rem;
	width: 75rem;
	margin-top: 7rem;
	/*center entry*/
	/*margin-left: auto;
	margin-right: auto;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pokeEntry__header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.pokeEntry__name {
	text-transform: capitalize;
	font-size: 3rem;
	text-align: start;
	margin-left: 0.2rem;
	flex: 0 0 27%; /*flex-grow, flex-shrink, flex-basis:size */
}
.pokeEntry__stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 0;
	gap: 1rem;
	font-size: 1.8rem;
	text-transform: capitalize;
}
.pokeEntry__item {
	margin-left: 0.2rem;
	font-size: 1.8rem;
}
.pokeEntry__imgContainer {
	background-image: url(./images/HGSS_Viridian_Forest-Day.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	width: 100%;
	border: 4px solid var(--clr-grey-blue-1);
	margin: 2rem 0;
}
.pokeEntry__img {
	height: 40rem;
	width: 45rem;
	padding: 2rem;
}
.pokeEntry__basics {
	background-color: var(--clr-light-grey-4);
	color: var(--clr-grey-blue-1);
	border: 2px solid var(--clr-grey-blue-1);
	margin-top: -2rem; /*moves the basics up onto image*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
	font-size: 1.4rem;
	font-weight: 600;
}
.pokeEntry__abilities {
	font-size: 2rem;
	font-weight: 700;
	text-transform: capitalize;
	text-align: start;
	height: 20rem;
	margin: 1rem;
}
.pokeEntry__ability {
	padding: 2rem;
}
.pokeEntry__types {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: end;
	height: 10rem;
	margin: 1rem;
	display: flex;
	justify-content: flex-end;
}
.pokeEntry__type {
	padding: 2rem;
}
@media screen and (max-width: 430px) {
	.primary-heading {
		font-size: 4rem;
		padding: 0.5rem;
	}
	.entries {
	}
	.entry {
		height: 30rem;
		margin: 1rem;
	}
	.entry__title {
		font-size: 3rem;
	}
	.entry__img {
		height: 20rem;
		width: 20rem;
	}
	.pokeEntry {
		border: 0.5rem solid var(--clr-yellow);
		height: 47rem;
		width: 30rem;
		padding: 0.5rem;
		margin-top: 6rem;
	}
	.pokeEntry__header {
		flex-direction: column;
	}
	.pokeEntry__name {
		margin-bottom: 1rem;
		font-size: 2.5rem;
		flex: 0 0 27%; /*flex-grow, flex-shrink, flex-basis:size */
	}
	.pokeEntry__stats {
		flex-wrap: wrap;
		column-gap: 2rem;
		font-size: 1.5rem;
	}
	.pokeEntry__item {
		margin-left: 0.5rem;
		font-size: 1.3rem;
	}
	.pokeEntry__imgContainer {
		height: 20rem;
	}
	.pokeEntry__img {
		height: 20rem;
		width: 20rem;
		padding: 1rem;
		margin-top: 0.5rem;
	}
	.pokeEntry__basics {
		background-color: var(--clr-light-grey-4);
		color: var(--clr-grey-blue-1);
		border: 2px solid var(--clr-grey-blue-1);
		margin-top: -2rem; /*moves the basics up onto image*/
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 2.5rem;
		font-size: 1.4rem;
		font-weight: 600;
	}
	.pokeEntry__abilities {
		font-size: 1.5rem;
		height: 4rem;
		margin: 1rem;
	}
	.pokeEntry__ability {
		padding: 0.5rem;
	}
	.pokeEntry__types {
		font-size: 1.25rem;
		height: 5rem;
	}
	.pokeEntry__type {
		padding: 1rem;
	}
	.footer {
		width: 100%;
	}
}
.pokeEntry--bug {
	background-image: linear-gradient(to right, var(--type-green), var(--type-dark-green));
}

.pokeEntry--grass {
	background-image: linear-gradient(to right, var(--clr-green-dark), var(--type-dark-green));
}

.pokeEntry--fire {
	background-image: linear-gradient(to right, var(--type-red), var(--type-dark-red));
}

.pokeEntry--water {
	background-image: linear-gradient(to right, var(--type-blue), var(--type-dark-blue-card));
}

.pokeEntry--ice {
	background-image: linear-gradient(to right, var(--type-blue), var(--type-gray));
}

.pokeEntry--electric {
	background-image: linear-gradient(to right, var(--type-yell), var(--clr-white), var(--type-dark-yell));
}

.pokeEntry--psychic {
	background-image: linear-gradient(to right, var(--clr-pink), var(--type-dark-purple));
}
.pokeEntry--fairy {
	background-image: linear-gradient(to right, var(--clr-pink), var(--type-purple));
}
.pokeEntry--ghost {
	background-image: linear-gradient(to right, var(--type-purple), var(--type-dark));
}

.pokeEntry--fighting {
	background-image: linear-gradient(to right, var(--type-dark-red), var(--type-dark-brown));
}
.pokeEntry--rock {
	background-image: linear-gradient(to right, var(--type-brown), var(--type-dark-brown), var(--type-dark-gold));
}
.pokeEntry--ground {
	background-image: linear-gradient(to right, var(--type-brown), var(--type-dark-brown));
}

.pokeEntry--dark {
	background-image: linear-gradient(to right, var(--type-dark), var(--type-dark-dark));
	color: var(--clr-white);
}
.pokeEntry--poison {
	background-image: linear-gradient(to right, var(--type-dark-purple), var(--type-dark));
	color: var(--clr-white);
}

.pokeEntry--steel {
	background-image: linear-gradient(to right, var(--type-gray), var(--type-dark-gray));
}

.pokeEntry--dragon {
	background-image: linear-gradient(to right, var(--clr-blue-1), var(--type-gold), var(--type-red));
}

.pokeEntry--normal {
	background-image: linear-gradient(to right, var(--type-gold), var(--clr-grey));
}

